.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 20px;
  background: linear-gradient(90deg, #121212, #1f1e1e);
  box-shadow:
    6px 6px 12px #2b2b2b,
    -6px -6px 12px #2b2b2b;
}

.hero-container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

.hero-container-title {
  font-size: 3rem;
  color: #ff9900;
  font-family: "Orbitron", sans-serif;
}

.hero-container-subtitle {
  font-size: 2rem;
  color: #929382;
  margin-top: 0.5rem;
  font-family: "Orbitron", sans-serif;
}

.hero-container-hero-story {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  width: 60%;
  text-align: justify;
  border-left: solid 3px #ff9900;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .hero-container {
    height: 70vh;
  }

  .hero-container-subtitle {
    font-size: 1.4rem;
  }

  .hero-container-hero-story {
    width: 80%;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero-container {
    height: 70vh;
  }

  .hero-container-subtitle {
    font-size: 1.2rem;
  }

  .hero-container-hero-story {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .hero-container {
    height: 70vh;
    padding: 10px;
  }

  .hero-container-subtitle {
    font-size: 1rem;
  }

  .hero-container-hero-story {
    width: 100%;
    font-size: 0.9rem;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hero-container-social-icons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 10px;
  animation: floating 3s ease-in-out infinite;
}

.hero-container-icon {
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  color: #ffffff;
}

.hero-container-icon:hover {
  color: #ff9900;
}

.hero-container-button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.hero-container-button a {
  text-align: center;
  width: 100%;
}

.hero-icon-container {
  position: absolute;
  bottom: 0;
  left: 49.5%;
  transform: translateX(-50%);
}

.hero-container-glitch {
  font-size: 3.5rem;
  position: relative;
  margin-bottom: 1rem;
  color: #ff9900;
  font-family: "Orbitron", sans-serif;
  font-kerning: none;
}
