.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 20px;
  background: linear-gradient(145deg, #0f0f0f, #252525);
  box-shadow: 6px 6px 12px #0b0b0b,
              -6px -6px 12px #2b2b2b;
}

.hero-container::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
  animation: glitch-bg 5s infinite linear;
}


.subtitle {
  font-size: 1.8rem;
  color: #ff9900; 
  margin-top: 0.5rem;
  text-shadow: 0 0 10px #ff9900, 0 0 20px #ff9900, 0 0 30px #ff9900, 0 0 40px #ff9900;
  font-family: 'Orbitron', sans-serif;
}


.hero-story {
  margin-bottom: 2rem;
  color: #ffffff; 
  width: 50%;
  font-size: 1.2rem; 
  line-height: 1.6; 
  width: 80%;

}

.cta-button {
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  color: #ffffff; 
  background-color: #ff9900; 
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(221, 134, 3, 0.7); 
}

.cta-button:hover {
  color: #ff9900; 
  background-color: #ffffff; 
  box-shadow: 0 0 10px rgba(221, 134, 3, 0.7); 
}

@media only screen and (max-width: 1024px) {
  .hero-container {
    height: 70vh;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  .hero-story {
    width: 80%;
    font-size: 1rem;
  }

  .cta-button {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero-container {
    height: 100vh;
  }


  .subtitle {
    font-size: 1.2rem;
  }

  .hero-story {
    width: 90%;
  }

  .cta-button {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .hero-container {
    height: 100vh;
    padding: 10px;
  }


  .subtitle {
    font-size: 1rem;
  }

  .hero-story {
    width: 100%;
    font-size: 0.9rem;
  }

  .cta-button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}



@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  animation: floating 3s ease-in-out infinite;
}


.icon {
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  color: #ffffff;
}

.icon:hover {
  color: #ff9900;
}


.glitch {
  font-size: 3.5rem;
  position: relative;
  margin-bottom: 1rem;
  color: #ff9900; 
  font-family: 'Orbitron', sans-serif;
}



