.work-experience-section h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #ff9800;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2em;
  position: relative;
}

.work-experience-title {
  font-family: "Orbitron", sans-serif;
}

.work-experience-section h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #ff9800;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #333;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin-bottom: 50px;
}

.timeline-item:nth-child(even) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item:nth-child(even)::before {
  right: auto;
  left: -60px;
}

.timeline-item-content {
  background: #333;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 1s,
    transform 1s;
}

.timeline-item-content::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #333;
  top: calc(50% - 10px);
  right: -10px;
  border-radius: 50%;
}

.timeline-item:nth-child(even) .timeline-item-content::before {
  right: auto;
  left: -10px;
}

.timeline-item-content .tag {
  background: #ff9800;
  color: #333;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
}

.timeline-item-content h2 {
  font-size: 1.5em;
  margin-top: 10px;
  color: #ff9800;
}

.timeline-item-content h3 {
  font-size: 1.2em;
  color: #c2c2c2;
}

.timeline-item-content p {
  color: #c2c2c2;
}

.timeline-item:nth-child(even) .timeline-item-content .circle {
  right: auto;
  left: -60px;
}

.timeline-item.in-view .timeline-item-content {
  opacity: 1;
  transform: translateY(0);
}
