.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 1000;
  font-family: "Orbitron", sans-serif;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-container-navbar-logo {
  color: #ff9800;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-container-navbar-menu {
  list-style: none;
  display: flex;
  margin-right: 5rem;
}

.navbar-container-navbar-item {
  margin-left: 2rem;
  animation: slideBottom 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar-container-navbar-links {
  color: #c2c2c2;
  text-decoration: none;
  position: relative;
  overflow: hidden; 

}


.navbar-container-navbar-links::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%; 
  height: 2px; 
  background-color: #ff9800; 
  transition: width 0.3s; 

}
.navbar-container-navbar-links:hover {
  color: #ff9800;
}

.navbar-container-navbar-links:hover::before {
  width: 100%; 
}

.navbar-container-navbar-links svg {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;  
}

.hamburger-wrapper {
  display: none;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 1001;
  position: absolute; 
  top: 0.5rem; 
  right: 2rem; 
}



@keyframes slideBottom {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}


@media only screen and (max-width: 480px) {
  .navbar-container-navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-container-navbar-logo {
    font-size: 1rem;
  }

  .navbar-container-navbar-item {
    margin-bottom: 0.6rem;
  }

  .navbar-container-navbar-links svg {
    width: 0.7rem;
    height: 0.7rem;
  }
}


@media (max-width: 768px) {
  .hamburger-wrapper {
    display: block;
  }

  .navbar {
    width: 100%;
  }

  .navbar-container {
    flex-direction: column-reverse;
  }

  .navbar-container-navbar-logo {
    display: none;
  }

  .navbar-container-navbar-menu {
    width: 100%;
    height: 50vh; 
    position: fixed; 
    top: 0; 
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    display: none; 
    flex-direction: column;
    margin: 0; 
    padding: 1.5rem 2rem; 
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    align-items: center;  
    justify-content: center; 
  }

  .navbar-container-navbar-item {
    margin: 1rem 0; 
    font-size: large;
    transition: background-color 0.3s ease; 
    border-radius: 5px; 
    padding: 0.1rem 0rem; 
    margin-right: 5rem;
  }

  .navbar-container-navbar-item:hover {
    background-color: rgba(255, 152, 0, 0.2); 
}


  .navbar-container-navbar-menu.active {
    display: flex;
    transform: translateY(0);
  }

  .hamburger-wrapper {
    position: fixed;
    top: 1.5rem;
    right: 2rem;
  }
}


/* Media query for smaller laptop screens */
@media only screen and (max-width: 1024px) {
  .navbar {
    background: none;
    box-shadow: none;
  }

  .navbar-container-navbar-logo {
    font-size: 1.3rem;
  }

  .navbar-container-navbar-item {
    margin-left: 1.2rem;
  }

  .navbar-container-navbar-links svg {
    width: 0.85rem;
    height: 0.85rem;
  }
}

