.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    z-index: 1000; 
    font-family: 'Orbitron', sans-serif; /* A modern, futuristic font */
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    color: #ff9800;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin-right: 100px;
  }
  
  .navbar-item {
    margin-left: 2rem;
  }
  
  .navbar-links {
    color: #c2c2c2;
    text-decoration: none;
  }
  
  .navbar-links:hover {
    color: #ff9800;
  }
  

  @media only screen and (max-width: 1024px) {
    .navbar-container {
      flex-direction: column;
    }
  
    .navbar-menu {
      margin-right: 0;
      margin-top: 20px;
      flex-direction: column;
    }
  
    .navbar-item {
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .navbar-logo {
      font-size: 1.2rem;
    }
  
    .navbar-item {
      margin-bottom: 0.8rem;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .navbar {
      padding: 0.5rem 1rem;
    }
  
    .navbar-logo {
      font-size: 1rem;
    }
  
    .navbar-item {
      margin-bottom: 0.6rem;
    }
  }
  