.project-card {
    display: flex;
    flex-direction: column;
    background: #212121;
    border: 1px solid #ff9800;
    border-radius: 5px;
    margin: 1rem;
    width: 100%;
    max-width: 300px;
  }
  
  .project-image {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .project-info {
    padding: 1rem;
    color: #c2c2c2;
  }
  
  .project-title {
    color: #ff9800;
    margin-bottom: 0.5rem;
  }
  
  .project-description {
    margin-bottom: 1rem;
  }
  
  .project-links {
    display: flex;
    justify-content: space-around;
  }
  
  .project-links a {
    color: #ff9800;
  }
  