/* Skills Design */
.skills-section {
  padding: 2rem;
  color: #ff9800;
}

.skills-section h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #ff9800;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2em;
  position: relative;
  font-family: "Orbitron", sans-serif;
}

.skills-section h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #ff9800;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.skills-section-skill-card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  background: #212121;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.skills-section-skill-card:hover {
  transform: scale(1.05);
  box-shadow:
    0 5px 10px #ff9800,
    0 0 25px #ff9800,
    0 0 25px #ff9800;
}

.skills-section-skill-image {
  width: 100%;
  height: 5px;
  padding-bottom: 50%;
  margin-top: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skills-section-skill-content {
  padding: 1rem;
  color: #ff9800;
}

.skills-section-skill-name {
  font-size: 1.2em;
  margin-bottom: 0.5rem;
  color: #929382;
}

.skills-section-skill-bar {
  width: 100%;
  height: 20px;
  background: #393e46;
  border-radius: 10px;
  overflow: hidden;
}

.skills-section-skill-level {
  height: 100%;
  background: linear-gradient(45deg, #ff9800, #ffaa80);
}

/* Certification Design */
.certifications-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
}

.certification-card {
  background: #272727;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  color: #ff9800;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 12px;
}

.certification-card h3 {
  font-size: 2em;
  border-bottom: 2px solid #ff9800;
  padding-bottom: 8px;
}

.certification-card time {
  font-size: 1.05em;
  color: #ffa74d;
  font-style: italic;
}

.certification-card p {
  color: #bbb;
  margin: 0;
  font-size: 0.85em;
  text-align: justify;
  line-height: 1.4em;
}

.certification-card a {
  align-self: center;
  background: linear-gradient(45deg, #ff9800, #ffaa80);
  border: 1px solid #ff9f70;
  color: #333;
  padding: 10px 15px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  width: 80%;
  text-align: center;
}

.certification-card a:hover {
  background: linear-gradient(45deg, #ffaa80, #ff9800);
  color: #212121;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

/* Hover Animation for Certification Card */
@keyframes float {
  0% {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  100% {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(0px);
  }
}

.certification-card:hover {
  animation: float 1.5s infinite;
}

/* Responsive Styles */
@media (max-width: 900px) {
  .skills-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .skills-section-skill-card {
    gap: 0.5rem;
  }

  .skills-section-skill-image {
    padding-bottom: 30%;
  }

  .skills-section-skill-content {
    padding: 0.5rem;
  }

  .skills-section-skill-name {
    font-size: 1em;
  }

  .skills-section-skill-bar {
    height: 15px;
  }

  .certification-card {
    padding: 0.75rem;
  }

  .certification-card h3 {
    font-size: 1.15em;
  }

  .certification-card time {
    font-size: 0.95em;
  }

  .certification-card p {
    font-size: 0.8em;
  }

  .certification-card a {
    padding: 8px 12px;
    font-size: 0.85em;
  }
}

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}
