.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 400;
}

.about-container h2 {
  text-align: center;
  color: #ff9800;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2em;
  position: relative;
  font-family: "Orbitron", sans-serif;
}

.about-container h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #ff9800;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.about-body {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-evenly;  
  align-items: center;
  margin: 0 auto;  
}

.about-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 20rem;
  gap: 0.5rem;
  margin-left: 1rem;  
  margin-right: 2rem;  
}

.about-image {
  position: relative;
  flex-grow: 1;
  min-width: 15rem;
  padding-left: 2rem;  
  align-self: center;
}

.about-name {
  font-size: 1.875rem;
  font-weight: 500;
  color: #929382;
}

.about-description {
  padding-top: 1.25rem;
  line-height: 1.75rem;
  color: #fff;
  text-align: justify;
}

.highlight-text {
  color: #f59e0b;
}


.image-animation {
  animation: zoom 1s ease-in-out infinite;
  margin-left: auto; 
  margin-right: auto;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}



/* Responsive styles */


/* For screens less than 1200px */
@media only screen and (max-width: 1200px) {
  .about-body {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  .about-text {
    max-width: 100%;
    text-align: center;
    margin: 0;
  }

  .about-image {
    min-width: 0;
    padding-left: 0;
  }

  .image-animation {
    width: 80%;
    margin: 0 auto;
  }
}

/* For screens less than 900px */
@media only screen and (max-width: 900px) {
  .about-container h2 {
    font-size: 1.5em;
  }

  .about-name {
    font-size: 1.5rem;
  }

  .about-description {
    font-size: 0.8rem;
  }
}

/* For screens less than 600px */
@media only screen and (max-width: 600px) {
  .about-container h2 {
    font-size: 1.2em;
  }

  .about-name {
    font-size: 1.1rem;
  }

  .about-description {
    font-size: 0.7rem;
  }

  .image-animation {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .about-body {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  .about-text {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .about-image {
    padding-left: 0;
  }

  .image-animation {
    width: 80%;
    margin: 0 auto;
  }
}
