.project-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.project-modal-content {
  position: relative;
  background: linear-gradient(to right, #222222, #343746);
  padding: 2rem;
  width: 90%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  
}

.project-modal-content h2 {
  font-size: 2rem;
  color: #f9a826;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.project-modal-content p {
  font-size: 1rem;
  color: #d1d1d1;
  line-height: 1.7;
  font-weight: 400;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: linear-gradient(45deg, #ff9800, #ffaa80);
  border: 1px solid #ff9f70;
  color: #333;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  border-radius: 25px;
  transition:
    background 0.3s,
    box-shadow 0.2s,
    transform 0.2s;
}

.modal-close-btn:hover {
  background: linear-gradient(45deg, #ffaa80, #ff9800);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project-dates {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  animation: fadeIn 1s ease-out;
}

.project-dates p {
  margin: 0;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .project-modal-content {
    width: 95%;
    max-width: 500px;
  }
}

@media screen and (max-width: 576px) {
  .project-modal-content {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }
}
