@import "~react-responsive-carousel/lib/styles/carousel.min.css";

.projects-section {
  padding: 2rem;
  color: #fff;
  background: #121212;
  margin: auto;
}

.projects-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #ff9800;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2em;
  position: relative;
  font-family: 'Orbitron', sans-serif;
}


.projects-section h2::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background: #ff9800;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}


.project-card {
  width: 350px;
  height: 600px;
  background-color: #222222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
  margin-bottom: 3rem;
  
}

.project-card.in-view {
  opacity: 1;
  transform: translateY(0);
}
.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  position: relative;
  overflow: hidden;
  height: 300px;
  max-height: 500px;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-details {
  padding: 1rem;
  font-size: 1.2rem;

  
}

.project-details h3 {
  margin-bottom: 0.5rem;
  color: #ff9800;
  
}

.project-description {
  color: #ccc;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 0.8rem;
  
}

.project-technology {
  color: #ccc;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 0.8rem;

}


.project-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-buttons button {
  background-color: #ff9800;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.project-buttons button:hover {
  background-color: #ff7800;
}

.project-more-info {
  background-color: #222222;
  color: #fff;
  padding: 1.5rem;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  border-top: 1px solid #444444;
  display: flex;
  flex-direction: column;
}

.project-more-info h4 {
  margin-bottom: 0.5rem;
  color: #ff9800;
  font-size: 1.1em;
}

.project-more-info p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

@media screen and (max-width: 1200px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .project-card {
    width: 300px;
  }
}

@media screen and (max-width: 992px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .project-card {
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .project-card {
    width: 250px;
  }
}

@media screen and (max-width: 576px) {
  .project-card {
    width: 100%;
  }
}

.project-details {
  padding: 1rem;
}

.project-details h3 {
  font-size: 1.3em;
}

.project-description {
  margin-bottom: 1rem;
}

.project-more-info h4 {
  font-size: 1.1em;
}
