.section-container {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.hero-section-container {
  margin-top: 5.7rem;
  margin-bottom: 20rem;
}

.navbar-section-container {
  margin-top: 10rem;
  margin-bottom: 0rem;
}